<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for message.user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><%= message.user.email.split('@')[0]%> at <%= message.timestamp %> says</span><br>
          <%= content_with_emoji.(message.body).html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>